@import url(‘https://fonts.googleapis.com/css?family=Verdana’);
@import url(‘https://fonts.googleapis.com/css?family=Roboto’);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(https://cdn.spacetelescope.org/archives/images/screen/potw1345a.jpg) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
	position: relative;
	
	/*opacity: 0.70;*/
	
	background-position: center;
	background-repeat: no-repeat;
	/*
	
	fixed=parallax
	scroll=normal
	
	*/
	background-attachment: scroll;
	
}
.intro .inner {
	display:  table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	font-family: ‘Verdana’, sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 400%;
}
.btn {
	border-radius: 7px;
	font-family: ‘Roboto’, sans-serif;
	color: #fff;
	font-size: 110%;
	padding: 7px 15px;
	border: solid #fff 3px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover {
	color: #000;
	border: solid #000 3px;
}

.section{
	text-align: center;
	padding: 10px 20px;
	font-family: 'Verdana', sans-serif;
}

.content2 h2 {
	font-size: 200%;
	font-family: ‘Verdana’, sans-serif;
	color: #000;
	
}

.section-light {
	background-color: #fff;
	color: #000;
	height: 100%;
}

P {
	font-size: 150%;
	line-height: 200%;
	/*text-align: justify;*/
	margin: 3%;
	text-align: center;
	font-family: 'Verdana', sans-serif;
	font-weight: regular;
}
